
.titulo{

    font-family: arial;

}
.container{

   display: flex;
    
   align-items: center;
   flex-direction:column;
    background-color: rgb(255, 255, 255);
}
.circulo{

    height: 120px;
    width: 120px;
    background: linear-gradient(#1cbb3c, #adb8b0);    
    margin: auto;
    border-radius:50%;

}

.rectangulo{


    height: 90px;
    width: 150px;
    background: linear-gradient(#96bbe2, #094f91); 


}

.triangulo{

    width: 0;
     height: 0;
     border-right: 60px solid transparent;
     border-left: 60px solid transparent;
     border-bottom: 150px solid #910bd0;


}

.rombo{
    margin-top: 20px;
    width: 100px; 
    height: 100px; 
    
    background: linear-gradient(yellow, #e2a447); 
        
    transform: rotate(45deg);

}